{% load l10n %}
{% load i18n %}
{% load flatpages website %}
{% get_flatpages as flatpages %}
{% get_flatpages "/josep" as contact_flatpages %}
<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <title>{% block title %} {{ daguerro_settings.dag_site_title|striptags }} {% endblock %}</title>
    <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}website/css/style.css"/>
    <link rel="shortcut icon" href="{{ STATIC_URL}}website/img/favicon.ico">
    <script type="text/javascript" src="{{ STATIC_URL }}website/js/jquery-1.6.4.min.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}website/js/jquery.corner.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}website/js/jquery.qtip-1.0.0-rc3.min.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}website/js/json2.min.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}website/js/jquery.cookie.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}website/js/cart.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}daguerro/js/search.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}website/js/efectos.js"></script>
    <script type="text/javascript" src="{% url django.views.i18n.javascript_catalog %}"></script>
    {% block extraJS %}
    {% endblock extraJS %}
  </head>
  <body>
    <div id="container">
      <div id="header">
        <div id="header-int">
          <div id="site_info">
            <h1><a href="{% url website-gallery %}">{% autoescape off %}{{ daguerro_settings.dag_site_title }}{% endautoescape %}</a></h1>
            <h2>{% autoescape off %}{{ daguerro_settings.dag_site_description }}{% endautoescape %}</h2>
            <h3>
              <strong>{{ photo_count|numberformat }}</strong> fotografías de
              {% for gallery in galleries %}
              <a href="{% url website-gallery gallery.title_slug %}" title="{{ gallery.title }}">{{ gallery.title }}</a>{% if not forloop.last %}, {% endif %}
              {% endfor %}
              <p>(c) Josep María Barres {% now "Y" %} |
                 {% for page in flatpages %}
                 <a href="{{ page.url }}">{{ page.title }}</a> {% if not forloop.last  %} | {% endif %}
                 {% endfor %}
               </p>
            </h3>
          </div>
          <div id="side">
{% comment %}
            Left here for future development
          <div id="languages">
              <a href="#">Catalan</a> | <span>Castellano</span> | <a href="#">English</a>
          </div>
{% endcomment %}
           <div id="searcher">
             <form id="search" method="GET" action="{% url website-search-photos %}">
           <input type="text" id="query" name="q" value="{{ query }}"/>
               {% include "daguerro/search_buttons.html" %}
             </form>
           </div>
           
             <div id="tools">
              <div id="shop">
                <div id="shop_info"><em id="shopping-cart-num-items">0</em> fotografía/s en la <a href="#" id="open-shopping-cart">cesta</a></div>
                <img id="shop_ico" src="{{ STATIC_URL }}website/img/shop_cart.png" alt="Ver cesta" title="Arrastra aquí imágenes para solicitarlas"/>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div id="content">
        {%block content %}{% endblock %}
      </div>

      <div id="selection">
      </div>
    </div>

<script type="text/javascript">
renderShoppingCart();
</script>

{% block lastJS %}
{% endblock lastJS %}

<script type="text/javascript">
    var _gaq = _gaq || [];
    _gaq.push(['_setAccount', 'UA-26297451-1']);
    _gaq.push(['_trackPageview']);

    (function() {
      var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
      ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
      var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
     })();
   </script>
  </body>
</html>
