{% extends "website/base.html" %}

{% load i18n %}

{% block title %}Barres foto natura | Solicitar fotos en alta calidad | {{ query }}{% endblock %}

{% block content %}
<form id="photos_request" method="POST">
  <h2>Solicitar fotografías en alta calidad / Request images in high quality</h2>
  <p>En el siguiente formulario puedes solicitar las fotografías que has seleccionado. Su importe para usos comerciales estará en función del uso y el tamaño, en 300 ppi, así cómo de la cantidad de imágenes escogidas.</p>
  <p>On next form you can request images chosen. The images price for commercial ueses would be depending on use, quality and quantity.</p>

  <table id="photos_list">
  </table> 
  
  <div class="field">
      <label for="quality">Calidad / Quality</label>
      <input type="text" name="quality" id="quality"/>
      <br/>
      <span>Hasta 7300x5000 o 62x42cm / Until 7300x5000 or 62x42cm</span>
  </div>  
 
 <div class="field">
     <label for="quality">Uso / Use</label>
     <input type="text" name="use" id="use"/>
 </div>

  <div class="field">
    <label for="name">Tu nombre / Your name</label>
    <input type="text" name="name" id="name"/>
  </div>

  <div class="field">
      <label for="email">Tu dirección e-mail* / Your email address</label>
      <input type="email" name="email" id="email" required/>
  </div>

  <div class="field">
    <label for="comments">Comentarios / Comments</label>
    <textarea name="comments" id="comments"></textarea>
  </div>

  <button type="submit">Solicitar fotos / Request images</button>
</form>
{% endblock %}


{% block lastJS %}
<script type="text/javascript" src="{{ STATIC_URL }}website/js/photos_request_page.js"></script>
{% endblock lastJS %}

