 {% extends "website/base.html" %}

{% load i18n %}
{% load l10n %}

{% block title %}Barres foto natura | Botánica{% endblock %}

{% block content %}
  <div id="photo">
    <div id="photo_title">
          <div id="breadcrumbs">
         {% for breadcrumb in request.breadcrumbs %}
           <a href="{{ breadcrumb.url }}">{{ breadcrumb.name }}</a> {% if not forloop.last %}&raquo; {% endif %}
         {% endfor %}
    </div>
      <h2>{{ photo.title }} <span>{% if photo.alternative_title %} ({{ photo.alternative_title }}) {% endif %}</span></h2>
    </div>
    <div id="photo_area">
      <div id="prev">
      {% comment TODO %}
      {% if prev_photo %}
      <a href="{% url website-photo gallery_slugs=gallery_slugs photo_slug=prev_photo.title_slug %}"><img src="{{ STATIC_URL }}website/img/prev.png" alt="&laquo; Anterior" title="&laquo; Anterior"/></a>
      {% endif %}
      {% endcomment %}
      </div>
      <img src="{{ photo.get_original_url }}" alt="{{ photo.title }}"/> 
      <div id="next">
      {% comment TODO %}
      {% if next_photo %}
      <a href="{% url website-photo gallery_slugs=gallery_slugs photo_slug=next_photo.title_slug %}"><img src="{{ STATIC_URL }}website/img/next.png" alt="&raquo; Siguiente" title="Siguiente &raquo;"></a>
      {% endif %}
        {% endcomment %}
      </div>
    </div>
    <div id="photo_info">
      {% if photo.caption %}
      <p id="caption">{{ photo.caption }}</p>
      {% endif %}
      {% if custom_fields %}
      <div class="info first" id="custom-fields">
        <img src="{{ STATIC_URL }}website/img/info.png" alt="{% trans Tags %}">
        <ul>
          {% for field in custom_fields %}
          <li>
            <span id="field-name">{{ field.name }}</span>
            <span id="value">{{ field.value }}</span>
          </li>
          {% endfor %}
        </ul>
      </div>
      {% endif %}
      {% if photo.location_title and photo.latitude and photo.longitude %}
      <div class="info">
         {% localize off %}
         <a href="http://maps.google.com/maps?q={{ photo.latitude }},+{{ photo.longitude }}+%28{{ photo.location_title }}%29&iwloc=A&" target="_blank">
         {% endlocalize %}
         <img src="{{ STATIC_URL }}website/img/globe.png" alt="Geolocalización">
         </a>
        <div class="tab">
          {% localize off %}
          <a href="http://maps.google.com/maps?q={{ photo.latitude }},+{{ photo.longitude }}+%28{{ photo.location_title }}%29&iwloc=A&" target="_blank">{{ photo.location_title }}</a>
          {% endlocalize %}
        </div>
      </div>
      {% endif %}
      {% if photo.tags %} 
      <div class="info" id="tags">
        <img src="{{ STATIC_URL }}website/img/tag.png" alt="{% trans Tags %}">
        <ul>
          <li><a href="<search-url>">{{  photo.tags|lower }}</a></li>
        </ul>
      </div>
      {% endif %}  
      <div class="last-info">
        <a id="ui-add-to-cart" href="#" data:item_id="{{ photo.id }}" data:item_thumb_url="{{ photo.get_thumbnail_url }}" data:item_title="{{ photo.title }}">
          <img src="{{ STATIC_URL }}website/img/shop_cart.png" alt="Solicitar" title="Solicitar">
        </a>
      </div>
    </div>
  </div>      
  <div class="push"></div>
{% endblock %}

