{% load i18n %}
{% load form_filters %}

<div id="search_options">
  {{ search_options_form.errors }}
  {% for fieldset in search_options_form.fieldsets %}
  <fieldset id="{{ fieldset.name }}" class="{{ fieldset.classes }}">
    {% for field in fieldset %}
     {% if field|field_type:'checkboxinput' %}
      {{ field }} {{ field.label_tag }}
     {% else %}
     <div id="{{ field.name }}">
       {{ field }}
     </div>
     {% endif %}
   {% endfor %}
  </fieldset>
  {% endfor %}
  <input type="submit" class="ui-search-button" value="{% trans "Search" %}"/>
</div>
