simplejson==2.3.2
Django==1.11.28
pillow
django-tinymce==1.5.1b4
django-extensions==1.0.2
django-debug-toolbar
South
MySQL-python
django-mptt==0.5.5
#ipython==0.10
whoosh==2.4.1
fabric
# Careful with this, I intend to use django-haystack=2.0.0
django-haystack==2.0.0
werkzeug
newrelic
git+https://github.com/ygneo/django-settings.git
gunicorn
