html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, em, img, strong, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td {
border:0 none;
margin:0;
outline:0 none;
padding:0;
vertical-align:baseline;
}

* { margin: 0; padding: 0; }

body {
  font-family: Verdana, Arial;
  background-color: #CCC;          
}

em { font-style: normal; font-weight: bold; }

/* Login styles */

#login
{
    color: white; 
    margin: 5% auto 0 auto;
    padding: 3ex; 
    width: 40%;
    background-color: #222;
}

#inner-login { width: 90%; margin: 0 auto; margin-top:2ex;margin-bottom:2ex; }

#login form {margin-top: 4ex;  }
#login #title { font-size: 100%; font-weight: normal; background: url('../img/key.png') no-repeat; padding-left: 60px; line-height: 100%;}
#login p { clear: both; text-align: right; margin-bottom: 2ex;}
#login label { width: 10ex; }
#login input { clear: both; }
#login h1 {  font-size: 100%; }
#login h2 { font-size:70%; font-weight: normal; color: grey; }
#login p#submit { margin-top: 2ex; text-align: right; }

#links_login {
   margin: 2ex auto 0 auto;
   font-style: normal;
   font-size: small;
   background: url('../img/arrow_left.png') no-repeat; 
   padding-left: 22px;
}

#links_login a { color: white; text-decoration: none; }
#links_login a:hover { text-decoration: underline; }
#links_login a:visited { color: white; }

.rounded-corners {
   border-radius: 10px;
   -ms-border-radius: 10px;
   -moz-border-radius: 10px;
   -webkit-border-radius: 10px;
   -khtml-border-radius: 10px;
}

ul.errorlist { 
   list-style: none; 
   font-size: 80%; 
   background-color: grey; 
   padding: 1ex; 
   margin-bottom: 2ex; 
   border-radius: 4px;
   -ms-border-radius: 4px;
   -moz-border-radius: 4px;
   -webkit-border-radius: 4px;
   -khtml-border-radius: 4px;
}

ul.errorlist li {
   background: url('../img/round_minus.png') no-repeat; 
   padding-left: 24px; 
}

div.pagination-info { clear: both; width: 100%; overflow: hidden; margin-bottom: 1.5ex; }

div.pagination-info .results-number { display: block; float: left; line-height: 1;}

div.pagination-info span.result-number { font-weight: bold; }

ul.pagination { float: right;  margin: 0; padding: 0; list-style: none; }

ul.pagination li { padding: .5ex; float: left;  color: #58880C; }    

ul.pagination li a  { text-decoration: none; color: #58880C; }

ul.pagination .current { background-color: #58880C; color: white; }
