* { margin: 0; padding: 0; }
html,body {height:100%; font-family: Verdana, Arial; color: #111; margin: 0; padding: 0;   background-color: #CCC;
}
p { line-height:1.5; margin:0 0 1em; }
img { border:0; }
a { color: #75b410; }
fieldset { margin: 0; padding:0; border: 0; }
em { font-style: normal; font-weight: bold; }

.push { clear:both; height:0; width:0; line-height:0;}

img.mini { width: 50px; height: 40px; }

div#container {
	position:relative; /* needed for footer positioning*/
	width:100%;
	height:auto !important; /* real browsers */
	height:100%; /* IE6: treaded as min-height*/
	min-height:100%; /* real browsers */
}

#header { height: 15ex; padding-top:1ex; background-color:#222; border-bottom: 2px #58880c solid;width:100%; margin-bottom:2ex;  font-size: 100%; float: left;}
        #header #header-int { width:88%; margin: 0 auto; height: 100%; }
        #header h1 {font-size:220%;font-weight:normal; font-family: Helvetica; }
        #header h1 a {text-decoration: none; }
        #header h2 {clear: both; font-size: 120%;font-weight:normal; margin:0 0 0.5em;}
        #header a {font-decoration:none;}
        #header a:hover {font-decoration:underline;}
#header #push {display: block; clear: left; margin: -0.66em 0;}
        #header #site_info { float: left; background: url('../img/logo.jpg') no-repeat top left; color: black; height:109px;margin-top:-15px; }
        #header #site_info h1 a {color:white; font-weight: bold;}
        #header #site_info span {color:#75b410;font-weight:bold;}
        #header #site_info h1 {margin-top:15px;margin-left: 90px;}
        #header #site_info h2 {margin-left: 90px; color: white;}
        #header #site_info h3 {margin-left: 90px; font-size:90%; color: white; font-weight:normal;}
        #header #site_info p {margin-top: 1ex; }
        #header #side { float: right; }
        #header #side #languages {font-size:70%; text-align: right; color: white;}
        #header #side #languages span {font-weight:bold;}
        #header #side #searcher { font-size: 90%; text-align: right; margin-top: 1ex; }
        #header #searcher #search { float:right;}
        #header #searcher #search label { display: block; }
	button::-moz-focus-inner,
	input[type="reset"]::-moz-focus-inner,
	input[type="button"]::-moz-focus-inner,
	input[type="submit"]::-moz-focus-inner,
	input[type="file"] > input[type="button"]::-moz-focus-inner {
	    border: none;
	}
    form#search input { border: 0 }
    form#search input[type=text] {
        color: black;
        border: 2px solid white;
        float:left;
        font-size: 120%;
        height: 26px;
        padding: 1px;
        margin-right: .3ex;
        width: 22em;
        border-radius: 4px;
        ms-border-radius: 4px;
        moz-border-radius: 4px;
        webkit-border-radius: 4px;
        khtml-border-radius: 4px;
    }
    #header #searcher #search #search_buttons {
	        float: right;
            height: 32px;
            width: 96px;
            border-color: transparent;
            border-radius: 4px;
            ms-border-radius: 4px;
            moz-border-radius: 4px;
            webkit-border-radius: 4px;
            khtml-border-radius: 4px;
			background: #58880C;
        }
       #header #searcher form#search div#search_options {
	       display: none;
	       clear: both;
		   position: absolute;
		   top: 48px;
		   width: 466px;
		   background: white;
		   color: #111;
		   padding: 8px;
		   text-align: left;
		   border-radius: 4px;
           ms-border-radius: 4px;
           moz-border-radius: 4px;
           webkit-border-radius: 4px;
           khtml-border-radius: 4px;
		   -webkit-box-shadow: 1px 1px 0px 0px #58880C;
		   -moz-box-shadow: 1px 1px 0px 0px #58880C;
		   box-shadow: 1px 1px 0px 0px #58880C;
		   line-height: 150%;
		   z-index: 99;
       }
       #header #searcher form#search div#search_options ul { list-style: none; }
        #search_options label, #search_options input  { float: left; }
        #search_options fieldset  { clear: left; margin-bottom: 1ex;}
        #search_options fieldset input { margin: .5ex; }
        #search_options fieldset label { margin-right: 1.5ex; }
        #search_options fieldset#galleries-fields div#galleries ul  { clear: both; list-style-type: none; text-align: left; line-height: 100%; padding-left: 16px;  margin-bottom: 1ex;  }
        #search_options fieldset#galleries-fields div#galleries > ul  { display: none; float: left; margin-top: .5ex; margin-left: 0; height: 20ex; overflow: auto; padding-left: 16px; width: 95%; }
        #search_options fieldset#galleries-fields div#galleries.active > ul  { display: block; }
        #search_options fieldset#galleries-fields li { clear: both;  float: left; display: block; }
        #search_options fieldset#galleries-fields div#galleries ul li label { margin-top: .5ex; margin-bottom: 1ex; }
	#search_options fieldset#galleries-fields #ui-open-galleries { background: url('../img/rnd_br_down.png') left no-repeat transparent; width: 16px; height: 16px; float: left; margin-right: 4px; margin-top: 1px; cursor: pointer; }
	#search_options fieldset#galleries-fields #ui-open-galleries.active { background: url('../img/rnd_br_up.png') left no-repeat transparent; }
        #ui-open-galleries + label { cursor: pointer; }
	#ui-open-galleries + label:hover { text-decoration: underline; }

	ul.errorlist { background: url("../img/attention.png") 1ex 1ex #58880C no-repeat;
		       color: white;
		       margin: .5ex;
		       padding: 1ex;
		       padding-left: 4ex;
		       border-radius: 4px;
                       ms-border-radius: 4px;
                       moz-border-radius: 4px;
                       webkit-border-radius: 4px;
                       khtml-border-radius: 4px;
		     }

	p#search_no_results {
	    background: url("../img/attention_white_big.png") 1ex .5ex #58880C no-repeat;
	    font-size: 120%;
	    color: white;
	    padding: 1.5ex;
	    padding-left: 7ex;
	    border-radius: 4px;
            ms-border-radius: 4px;
            moz-border-radius: 4px;
            webkit-border-radius: 4px;
            khtml-border-radius: 4px;
	}


        #header #searcher #search input[type=submit] {
                                height: 28px;
                                width: 48px;
                                background: url('../img/zoom.png') center no-repeat #58880C;
				float: left;
				margin-top: 2px;
				margin-left: 4px;
				padding-right: 8px;
        }
        #header #searcher form#search input[type=submit]:hover,  #header #searcher form#search input[type=button]:hover {
	    cursor: pointer;
	    -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=70)";
	    filter: alpha(opacity=70);
	    -moz-opacity:0.7;
	    -khtml-opacity: 0.7;
	    opacity: 0.7;

	}
        #header #searcher #search input#search_options_button {
				outline: none;
                                height: 28px;
                                width: 36px;
                                background: url('../img/cog.png') center no-repeat #58880C;
				float: right;
				margin-top: 2px;
        }
        #header #searcher #search input#search_options_button.active {
                               background: url('../img/cog-active.png') center no-repeat #58880C; }
        #header #searcher form#search input[type=submit]:hover { cursor: pointer; }
        #header #searcher #search #search_options input[type=submit] {
	    background: #58880C;
	    float: right;
	    text-align: center;
	    color: white;
	    padding: 0;
	    width: 4em;
	    cursor: pointer;
	    border-radius: 4px;
            ms-border-radius: 4px;
            moz-border-radius: 4px;
            webkit-border-radius: 4px;
            khtml-border-radius: 4px;
	    -webkit-box-shadow: 1px 1px 0px 0px #58880C;
	    -moz-box-shadow: 1px 1px 0px 0px #58880C;
	}

        #vertical-border { float: left; width: 1px; height: 16px; background: white; margin-top: 8px;
			  margin-left: 4px; margin-right: 2px;
			}
        #ui-arrow-down { display: none; position: absolute; z-index: 100; background:url('../img/arrow-down.png') center no-repeat transparent; height: 24px; width: 36px; top: 47px; left: 1540px;}
	#ui-tree-node-handler { float: left; font-size: 90%; height: 14px; width: 14px; margin-top: 2px; background: url('../img/sq_plus.png') center no-repeat transparent; margin-left: 0;}
	#ui-tree-node-handler.close-node {background: url('../img/sq_minus.png') center no-repeat transparent; }

div#content {
        width: 88%;
        clear: both;
        margin: 0 auto;
        padding-bottom: 2ex;
}

#gallery {clear:both; width: 930px; margin: 0 auto; height: 100%; }
#gallery.sub { margin-left: 20%;}
#gallery ul {clear:left;list-style:none; margin-bottom: 40px; float:left; width:100%;}
#gallery ul.last { margin-bottom:0px}
#gallery li {float:left; text-align:center; margin-right: 40px; padding-bottom: 16px; background: #222222; width: 270px; margin-bottom:40px}
#gallery li.last {float:left; text-align:center; margin-right: 0px;}
#gallery li:hover {background-color:#58880c; filter:shadow(color:gray);}
#gallery img {display:block;margin-bottom: 1ex;  margin: 0 auto; margin-bottom: 1ex;}
#gallery a { font-size: 130%; color: white; text-decoration: none; }
#gallery a:hover {margin-top: 1ex; color: white;  text-decoration: underline;}

#category { margin-bottom: 2ex; float: left; width: 100%; background: #222222; }
#category #imgCat img { float: left; padding:0; margin: 0; width: 108px; height: 72px; }
#category #title { float:left; color: white; padding-left: 2ex; height: 72px; padding-top: .5ex; }
#category h2 { padding: 0; font-size: 130%; float: left; }
#category h3 { font-weight: normal; font-size: 90%; clear:left;}

#tools { float: right; margin-top: 8px; margin-right: 8px; text-align: right; }
#tools form { float: right; }
#tools fieldset { float: left;}
#tools fieldset#ico_search { margin-top:2px; height: 20px; width: 20px; }
#tools form input[type=image] { width: 16px; height: 16px; background: #CCC; padding: 2px; float:left;}
#tools form input[type=image]:hover { background: #58880c;}
#tools form input[type=text] { height: 16px; color: grey; border: 2px solid white; float:left;}

#tools #shop { clear: both; float: right; margin-top: 8px; color: white; font-size: 80%; display: none; }
#tools #shop_info { float: left; text-align: right;  font-size: 90%; margin-right: 1ex; }
#tools #shop.ready { background: #CCC; color: black;}
#tools #shop.ready #shop_info { float: left; text-align: right;  font-size: 90%; margin-right: 1ex; }
#tools img#shop_ico { float: right; height: 16px; width: 16px; }
#tools img#shop_ico:hover { cursor: pointer; }

#subgallery {clear:both; margin: 0 auto; width: 77%; height: 100%; float: left;}
#subgallery.sub { margin-left: 20%;}
#subgallery ul {clear:left;list-style:none; margin-bottom: 20px; float:left; width:100%;}
#subgallery li {float:left; text-align:center; margin-right: 20px; padding-bottom: 8px; margin-bottom:20px; background: #222222; width: 250px;}
#subgallery li:hover {background-color:#58880c; }
#subgallery li.first {clear:both;}
#subgallery img {display:block;margin-bottom: 1ex; width: 250px; height: 160px;  margin: 0 auto;  margin-bottom: 1ex;}
#subgallery a { font-size: 100%; color: white; text-decoration: none; }
#subgallery a:hover {margin-top: 1ex; color: white;  text-decoration: underline;}

#photos {clear:both; margin: 0 auto; height: 100%; float: left;}
#photos.narrow { width: 78%; }
#photos ul { clear: both; list-style:none; width:100%; float: left; }
#photos li { float: left;  width: 180px; font-size: 90%; color: white; margin-right: 4ex; margin-bottom: 10px; background-color: transparent; color: #222; text-align:center; padding-bottom: 7ex; }
#photos p { margin: 0; padding: 0;  height: 3ex; }
#photos em { display: block; font-weight: normal; font-style: italic; }
#photos li div.photo { height: 162px; width: 180px; display:table-cell; vertical-align: middle;   background-color: #BBB; border-bottom: 1ex;}
#photos li div.photo:hover { background-color: #222; }
#photos li p a { color: #222;font-weight: bold; text-decoration: none; padding: 0; background: transparent; width: 100%;}
#photos li p a:hover { color: #222;font-weight: bold; text-decoration: underline; background: transparent;  }
#photos form.photo_tools { float: right;  height: 24px;  width: 24px;}
#photos form.photo_tools.active { background: #CCC; position: relative; top: -20px;}
#photos form.photo_tools fieldset { margin: 0 auto;  }


#menu { width: 22%; float: right;}
#menu ul { list-style: none; }
#menu ul li { clear: both; float: right; margin-bottom: .5ex;}
#menu li div.title_cat:hover {background-color:#58880c; }
#menu ul li img.mini { float: left; }
#menu ul li div.mini img { height: 40px; width: 50px; }
#menu ul li.current div.mini img { opacity:0.4;filter:alpha(opacity=40); }
#menu ul li div.title_cat { float: left;  width: 10em; height: 32px; padding-top: 8px; padding-left: 1ex; font-size: 90%; background: #222; -moz-border-radius: 0 10px 10px 0; -webkit-border-radius:0 10px 10px 0;}
#menu ul li h2 { font-size: 80%; margin-top: 0px;}
#menu ul li h2 a { color: white; text-decoration:none; }
#menu ul li.current div.title_cat {background:#555; }
#menu ul li.current div.title_cat:hover {background:#555; }
#menu ul li.current div.mini img { opacity:0.4;filter:alpha(opacity=40); }
#menu ul li.current div.title_cat a, #menu ul li.current div.title_cat h2 { color: grey; }

div#breadcrumbs { font-size: 75%; margin-bottom: 1ex; }
div#breadcrumbs a { color: #58880c; }

div#photo {
   color: white; margin-bottom: 3ex; float: left; width: 100%; background: #222222; padding-bottom: 2ex; padding-left: 1.5ex; -moz-border-radius: 10px 10px 10px 10px; -webkit-border-radius:10px 10px 10px 10px;
}
div#photo div#photo_title  { padding-top: .5ex; float: left; margin-bottom: 2ex;}

div#photo div#photo_title h3 { font-size: 80%; font-weight: normal; }
div#photo div#photo_title h2 span { font-weight: normal; font-style:italic;}

div#photo div#photo_area { clear: both; float: left; width: 100%; height: 100%; text-align:center;}
div#photo div#photo_area div#picture { width: 50%; margin: 0 auto; }
div#photo div#photo_area div#prev { float: left; width: 25%; }
div#photo div#photo_area div#prev img { position:relative; margin-top: 50%;  }
div#photo div#photo_area div#next { float: left; width: 25%;  }
div#photo div#photo_area div#next img { position:relative; margin-top: 50%;  }
div#photo div#photo_info  { clear:both;  margin-top: 2.5ex; background-color: #111; float: left; width: 97%; -moz-border-radius: 10px 10px 10px 10px; -webkit-border-radius:10px 10px 10px 10px; color: white; padding: 2ex; font-size:90%;}

div#photo div#photo_info em  {  font-style: italic; font-weight: normal;}
div#photo div#photo_info p  { margin-bottom: 1.5ex;  }
div#photo div#photo_info img  {  float:left; margin-right: 1em; }

div#photo div#description  { float: left; margin-right: 4ex;}

div.info { float: left;  height: 100%; }
div.info.first { margin-left: 0; }
div.info img { margin-top: .5ex; }
div.info ul {
    list-style: none;
    float: left;
    margin-left: 1ex;
}

div.tab { float: left; }

div#custom-fields ul li span { display: block; }
div#custom-fields ul li span#field-name { font-weight: bold; }

div#photo div.last-info { float: right; }

#shopping-cart { }
    #shopping-cart #head h3 { font-size: normal; display: block; float: left; }
    #shopping-cart #head a { float: right; background: #222; color: white; padding-bottom: .5ex; padding-left: 1ex; padding-right: 1ex; font-size: small; text-decoration: none; -moz-border-radius: 3px; -webkit-border-radius: 3px; border-radius: 3px; }
    #shopping-cart table {  clear: both; margin-top: 1ex; font-size: small; border-collapse: collapse; margin-bottom: 1ex; width: 100%; }
    #shopping-cart table tr {  border-bottom: 1px solid #CCC; }
    #shopping-cart table td {  padding: .5ex; }
    #shopping-cart img { width: 64px; height: 48px; }
    #shopping-cart fieldset#request-form { display: none; clear: both;  }
    #shopping-cart input[type=text], #shopping-cart textarea { color: grey; font-size: small; width: 99%; float: right; margin-bottom: .5ex; font-family: Verdana, Arial;}
    #shopping-cart input[type=submit], #shopping-cart input[type=button] { color: black; float: right; }

div.pagination-info { clear: both; width: 100%; overflow: hidden; margin-bottom: 1.5ex; }

div.pagination-info .results-number { display: block; float: left; line-height: 1;}

div.pagination-info span.result-number { font-weight: bold; }

ul.pagination { float: right;  margin: 0; padding: 0; list-style: none; }

ul.pagination .first {  }

ul.pagination .last {  }

ul.pagination .next {  }

ul.pagination .prev {  }

ul.pagination li { padding: .5ex; float: left;  color: #58880C; }

ul.pagination li a  { text-decoration: none; color: #58880C; }

ul.pagination .current { background-color: #58880C; color: white; }

a#ui-add-to-cart {
	color: white;
	text-decoration: none;
	width: 10em;
	display: block;
	font-size: 110%;
  background-color: #222;
  padding: 2ex;
  border-radius: 10px;
  ms-border-radius: 10px;
  moz-border-radius: 10px;
  webkit-border-radius: 10px;
  khtml-border-radius: 10px;
}

a#ui-add-to-cart:hover {
    background-color: #58880C;
}


div#selection {
  height: 160px;
	color: white;
	clear: both;
	margin: 0 auto;
	padding-top: 2ex;
	background-color: #111;
	width: 88%;
	border-radius: 10px;
  ms-border-radius: 10px;
  moz-border-radius: 10px;
  webkit-border-radius: 10px;
  khtml-border-radius: 10px;
}

div#selection ul#photos {
	float: left;
	list-style: none;
	margin-left: 2ex;
	margin-top: 1.5ex;
	margin-bottom: 1.5ex;
	padding-left: 1.5ex;g
}

div#selection ul#photos li {
	width: auto;
	float: left;
	margin-right: 1em;
	padding: 0;
}


div#selection p {
	margin: 0;
	padding: 0;
	color: white;

}

div#selection div#buttons {
	float: right;
	width: 7em;
}

div#selection button, div#selection div#buttons a {
    text-align: center;
	float: right;
	margin-right: 1.5ex;
	margin-top: 1.5ex;
	background-color: #222;
	border: 0;
	color: white;
	font-size: 120%;
	width: 150px;
	padding: 10px;
  border-radius: 4px;
  ms-border-radius: 4px;
  moz-border-radius: 4px;
  webkit-border-radius: 4px;
  khtml-border-radius: 4px;
	cursor: pointer;
  text-decoration: none;
}

div#selection button:hover, div#selection div#buttons a:hover  {
  background-color: #58880C;
}

div#selection div.ui-selection-remove {
    color: white;
    background-color: black;
    opacity: .9;
    font-weight: bold;
    top: -10px;
}