{% extends "daguerro/base_admin.html" %}

{% load tabs %}
{% load i18n %}

{% block extra_js %}
<script type="text/javascript" src="{{ STATIC_URL }}daguerro/js/gallery.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}daguerro/js/ajaxupload.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}daguerro/js/search.js"></script>
{% endblock %}

{% block section %} {{ parent_categories|last|default:_("Home") }}{% endblock %}

{% block nav %}
{% activetab "topnav" "gallery" %}
{{ block.super }}
{% endblock nav %}

{% block buttons %}
<div id="buttons">
  <ul>
    {% if current_category or add_photo_in_root %}
    <li id="upload-photo">
      <a href="{% if current_category.slugs_path %} {% url daguerro-gallery-photo-add current_category.slugs_path %} {% else %} {% url daguerro-gallery-photo-add %} {% endif %}" alt="{% trans "Upload image" %}" title="{% trans "Upload image" %}">{% trans "Upload image"%}</a>
    </li>
    {% endif %}
    <li id="add-category"><a href="{% if current_category.slugs_path %} {% url daguerro-gallery-add current_category.slugs_path %} {% else %} {% url daguerro-gallery-add %} {% endif %}">{% trans "Create category"%}</a></li>
  </ul>
  {% include "daguerro/search_form.html" %}
</div>
{% endblock buttons %}

{% block content %}
{% if current_category %}
<div id="subheader">
  <img src="{{ current_category.photo.get_gallery_title_url }}" alt=""/>
  <div id="category">
    <h1>{{ current_category }}</h1>
    <ul>
      <li>
        <a id="edit" href="{% url daguerro-gallery-edit current_category.slugs_path %}" alt="{% trans "Edit" %}" title="{% trans "Edit" %}">{% trans "Edit" %}</a>
      </li>
      <li>
        <a id="delete" class="ui-delete-button" href="{% url daguerro-gallery-delete current_category.slugs_path %}" alt="{% trans "Delete" %}" title="{% trans "Delete" %}">{% trans "Delete" %}</a>
      </li>
    </ul>
  </div>
</div>
{% endif %}
<div id="gallery">
  {% ifequal behaviour "search_results" %}
  <p id="results-info"><span id="num-results">{{ num_results }}</span> {% trans "photo(s) title contains" %} <span class="marked">{{ term }}</span></p>
  {% endifequal %}
  {% if categories %}
  <ul id="categories" class="sortable">
    {% for category in categories %}
    <li id="gallery_{{ category.id }}" >
      <a href="{% url daguerro-gallery category.slugs_path %}">
        <img src="{% if category.photo %}{{ category.photo.get_gallery_url }}{% else %}{{ no_image_thumb_url }}{% endif %}" title="{{ category.title }}"/>
      </a> 
      <a href="{{ category.title_slug }}">{{ category.title }}</a>
    </li>        
    {% endfor %}
  </ul>
  {% endif %}
  {% if photos_page.object_list %}
   {% with photos_page as page %}
    {% include "daguerro/photos.html" %}
   {% endwith %}
  {% endif %}
  {% if not photos_page.object_list and not categories %}
  <div id="message" class="no-gallery">
    <p>{% trans "No categories nor images" %}</p>
  </div>
  {% endif %}
</div>
{% endblock content %}
