{% extends "daguerro/base_admin.html" %}

{% load tabs %}
{% load i18n %}

{% block extra_js %}
<script type="text/javascript" src="{{ STATIC_URL }}daguerro/js/gallery.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}daguerro/js/jquery.daguerro.search.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}daguerro/js/ajaxupload.js"></script>
{% endblock %}

{% block section %} {{ parent_categories|last|default:_("Home") }}{% endblock %}

{% block nav%}
{% activetab "topnav" "gallery" %}
{{ block.super }}
{% endblock %}

{% block content %}
{% if current_category %}
<div id="subheader">
  <img src="{{ current_category.photo.get_gallery_title_url }}" alt=""/>
  <div id="category">
    <h1>{{ current_category }}</h1>
    <ul>
      <li>
        <a id="edit" href="{% url daguerro-gallery-edit current_category.slugs_path %}" alt="{% trans "Edit" %}" title="{% trans "Edit" %}">{% trans "Edit" %}</a>
      </li>
      <li>
        <a id="delete" class="ui-delete-button" href="{% url daguerro-gallery-delete current_category.slugs_path %}" alt="{% trans "Delete" %}" title="{% trans "Delete" %}">{% trans "Delete" %}</a>
      </li>
    </ul>
  </div>
</div>
{% endif %}
<div id="gallery">
  {% ifequal behaviour "search_results" %}
  <p id="results-info"><span id="num-results">{{ num_results }}</span> {% trans "photo(s) title contains" %} <span class="marked">{{ term }}</span></p>
  {% endifequal %}
  {% if categories %}
     <ul id="categories" class="sortable">
       {% for category in categories %}
       <li id="gallery_{{ category.id }}" >
         <a href="{% url daguerro-gallery category.slugs_path %}">
           <img src="{% if category.photo %}{{ category.photo.get_gallery_url }}{% else %}{{ no_image_thumb_url }}{% endif %}" title="{{ category.title }}"/>
         </a> 
         <a href="{{ category.title_slug }}">{{ category.title }}</a>
       </li>        
       {% endfor %}
     </ul>
     {% endif %}
     {% if photos %}
     <ul id="photos" class="sortable">
       {% for photo in photos %}
       {% if photo.galleries.all %}
       <li id="photo_{{ photo.id }}">
         <div class="photo">
           <a href="{{ photo.get_daguerro_url }}">
             <img src="{{ photo.get_thumbnail_url }}" alt="{{ photo.title }}" title="{{ photo.title }}"/>
           </a>
         </div>
         <p><a href="{{ photo.title_slug }}">{{ photo.title }}</a></p>
         <p><em>{% if photo.alternative_title %}{{ photo.alternative_title }}{% endif %}</em></p>          
       </li>
       {% endif %}
       {% endfor %}
     </ul>
     {% endif %}
     {% if not photos and not categories %}
     <div id="message" class="no-gallery">
       <p>{% trans "No categories nor images" %}</p>
     </div>
     {% endif %}
</div>
<div id="buttons">
  <form id="search" action="{% url daguerro-search-photo %}">
    <input type="text" name="term" id="term" class="{% if term %}active{% endif %}" value="{% if term %}{{ term }}{% else %}{% trans "Search image" %}{% endif %}"/>
    <input type="image" id="search_button" alt="{% trans Search %}" src="{{ STATIC_URL }}daguerro/img/zoom.png"/>
  </form>
  {% ifnotequal behaviour "search_results" %}
  <ul>
    <li id="upload-photo" {% if not current_category and not add_photo_in_root %}class="disabled"{% endif %}>
      {% if not current_category and not add_photo_in_root %}
      <a href="#" alt="{% trans "Upload image" %}" title="{% trans "Upload image" %}">{% trans "Upload image"%}</a>
      {% else %} 
      <a href="{% if current_category.slugs_path %} {% url daguerro-gallery-photo-add current_category.slugs_path %} {% else %} {% url daguerro-gallery-photo-add %} {% endif %}" alt="{% trans "Upload image" %}" title="{% trans "Upload image" %}">{% trans "Upload image"%}</a>
      {% endif %}
</li>
    <li id="add-category"><a href="{% if current_category.slugs_path %} {% url daguerro-gallery-add current_category.slugs_path %} {% else %} {% url daguerro-gallery-add %} {% endif %}">{% trans "Create category"%}</a></li>
  </ul>
  {% endifnotequal %}
</div>

{% endblock %}
</div>
