{% include "daguerro/ordering_photos_form.html" %}

{% if page.has_previous or page.has_next %}
  {% include "daguerro/pagination_info.html" %}
{% endif %}

{% with page.object_list as photos %}
<ul id="photos" class="sortable">
  {% for item in photos %}
    {% if item.object %}
     {% with photo=item.object %}
      {% include "daguerro/photo_li.html" %}
     {% endwith %}
    {% else %}
     {% with photo=item %}
      {% include "daguerro/photo_li.html" %}
     {% endwith %}
    {% endif %}
  {% endfor %}
</ul>
{% endwith %}
