{% extends "daguerro/gallery.html" %}
{% load tabs %}
{% load i18n %}
{% load form_filters %}

{% block extra_js %}
{{ block.super }}
<script>
$('#id_tags').tagsInput();
</script>
{% endblock %}

{% block extra_media %} {{ form.media }} {% endblock %}

{% block section %}{{ current_action_title }}{% endblock %}

{% block nav %}
{% activetab "topnav" "gallery" %}
{{ block.super }}
{% endblock nav %}

{% block subheader %}{% endblock subheader %}
{% block buttons %}{% endblock buttons %}
{% block search_form %}{% endblock search_form %}

{% block content %}
{% block breadcrumb %}
{{ block.super }}
{% endblock breadcrumb %}
<form action="{% if request.GET.page %}?page={{ request.GET.page }}{% endif %}" method="post" enctype="multipart/form-data">
  <fieldset id="form-layout">
    {% for fieldset in form.fieldsets %}
      <fieldset id="{{ fieldset.name }}" class="{{ fieldset.classes }}">
        {% if fieldset.legend %}
        <legend>{{ fieldset.legend }}</legend>
        {% endif %}
        {% if fieldset.description %}
        <p class="description">{{ fieldset.description }}</p>
        {% endif %}
          {% for field in fieldset %}
              {% if field.is_hidden %}
                  {{ field }}
              {% else %}
                  <div {% if field.errors %}{{ field|merge_attrs:'class="wrong_field"' }}{% else %}{{ field.row_attrs }}{% endif %} >
                      {% if field|field_type:'checkboxinput' %}
                      {{ field }} {{ field.label_tag }}
                      {% else %}
                      {% autoescape off %}
                      <label for="{{ field.name}}">{{ field.label }}</label>
                      {% endautoescape %}
                      {{ field }}
                      {{ field.errors }}
                      {% endif %}
                      <span class="help_text">{{ field.help_text }}</span>
                  </div>
              {% endif %}
          {% endfor %}
      </fieldset>
    {% endfor %}
  </fieldset>
  <div id="buttons">
    {% ifequal extra_context.current_action "edit" %}
    <div id="delete-button">
      <a class="ui-delete-photo-button"
	 href="{% url daguerro-photo-delete current_category.slugs_path form.instance.id %}"
	 >{% trans "Delete" %}</a>
    </div>
    {% endifequal %}
    <input type="submit" value="{% trans "Save" %}" id="save" />
  </div>
</form>
{% include "daguerro/photo_delete_modal.html" %}
{% endblock %}
