{% extends "daguerro/base_admin.html" %}

{% load tabs %}
{% load i18n %}

{% block nav%}
{% activetab "topnav" "settings" %}
{{ block.super }}
{% endblock %}

{% block subheader %}{% endblock subheader %}
{% block search_form %}{% endblock search_form %}

{% block content %}

<form id="settings-form" method="POST" action="">
  <div class="accordion" id="settings">
    {% for fieldset in settings_form.fieldsets %}
    <div class="accordion-group">
      <div class="accordion-heading">
        <a class="accordion-toggle" data-toggle="collapse"
           data-parent="#accordion-{{ forloop.counter }}" href="#collapse{{ forloop.counter }}">
          {{ fieldset.legend }}
          {{ fieldset.description }}
        </a>
      </div>
      <div id="collapse{{ forloop.counter }}"
           class="accordion-body collapse {% if forloop.first %} in {% endif %}">
        <div class="accordion-inner">
            {% for field in fieldset %}
            {% include "daguerro/field.html" %}
            {% endfor %}
            <input type="submit" value="{% trans "Save changes" %}" class="btn btn-primary"/>
        </div>
      </div>
    </div>
    {% endfor %}
   </div>
  </div>
</form>
{% endblock %}
