{% extends "daguerro/base_admin.html" %}

{% load tabs %}
{% load i18n %}

{% block extra_js %}
<script type="text/javascript" src="{{ STATIC_URL }}daguerro/js/results-list.js"></script>
{% endblock %}

{% block nav%}
{% activetab "topnav" "users" %}
{{ block.super }}
{% endblock %}

{% block subheader %}{% endblock subheader %}
{% block search_form %}{% endblock search_form %}
{% block buttons %}
<div id="buttons">
  <ul>
    <li id="add-user"><a href="{% url daguerro-user-add %}">{% trans "Create user"%}</a></li>
  </ul>
</div>
{% endblock buttons %}

{% block content %}
{% if users %}
<div id="results">
  {% for error_type in form.errors %}
   {{ error_type }}
    {% for error in error_type%}
      {{ error }}
    {% endfor %}
  {% endfor %}
  <form method="POST" action="">
    <input type="hidden" name="item_type" value="user"/>
    <table id="results-list" cellspacing="0">
      <thead>
        <td class="checkbox-column"><input type="checkbox" id="select-all"/></td>
        <td>{% trans "User" %}</td>
        <td>{% trans "Name" %}</td>
        <td>{% trans "Group(s)" %}</td>
        <td class="public-column">{% trans "Active" %}</td>
      </thead>
      {% for user in users %}
      <tr class="{% cycle 'even' 'odd' %}">
        <td class="checkbox-column">
          <input type="checkbox" name="user[]" value="{{ user.id }}" class="selectable"/>
        </td>
        <td><a href="{% url daguerro-user user.id %}">{{ user.username }}</a></td>
        <td>{{ user.first_name }} {{ user.last_name }}</td>
        <td>
          {% for group in user.groups.all %}
          {{ group }} {% if not forloop.last %}, {% endif %}
          {% endfor %}
        </td>
        <td class="public-column">
          {% if user.is_active %}
          <img src="{{ STATIC_URL }}daguerro/img/checkmark.png"" alt="{% trans "Sí" %}" title="{% trans "Sí" %}"/>
          {% else %}
          <img src="{{ STATIC_URL }}daguerro/img/cancel.png" alt="{% trans "No" %}" title="{% trans "No" %}"/>
          {% endif %}
        </td>
      </tr>
      {% endfor %}
    </table>
    <div id="batch-actions"
       <label for="actions">
         {% trans "For selected users" %}
         <select name="action">
           <option value="activate">{% trans "Activate"  %}</option>
           <option value="unactivate">{% trans "Unactivate"  %}</option>
           <option value="delete">{% trans "Delete"  %}</option>
         </select>
       </label>
       <button class="ui-delete-button-bulk" value="0" name="ok" title="{% trans "Run selected action" %}" type="submit">{% trans "Ok" %}</button>
    </div>
  </form>
</div>
{% else %}
<div id="message" class="no-items">
  <p>{% trans "No users" %}</p>
</div>
{% endif %}
{% endblock %}
